{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ferremax</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style-index.css'%}">
</head>
<body>
    {% include 'home/navbar.html' %}

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>



    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-5 g-4 justify-content-center">
            {% for producto in productos %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ producto.imagen_url }}" class="card-img-top img-fluid" alt="{{ producto.nombre }}" style="object-fit: cover; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">{{ producto.precio }}</p>
                        <a href="#" class="btn btn-primary">Añadir Carrito</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
<footer>

</footer>
</html>